<section class="hero is-info is-bold is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand navbar-start">
            <a class="navbar-item">
             <a style="font-size:24px; color: whitesmoke;" >Welcome to</a>  <B class="a" style="font-size:26px"> &#160; Ancient_AI</B>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu navbar-end">
            <div class="navbar-end">
              <a class="navbar-item">
                Home
              </a>
              <a class="navbar-item">
                Examples
              </a>
              <a class="navbar-item">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-primary is-light is-outlined">
                  <span class="icon">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <span><b>Download</b></span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body">
      <div class="container n">
        <p class="title" style="font-family: 'Satisfy', cursive; font-size:40px; font-weight: 50;">
           Let's begin the journey to retrieve the history we own and should have known...<br>
           We repaint picture of our identity we had lost years ago.<br> 
           <br/>
           <input
               style="display: none"
               type="file" (change)="onFileChanged($event)"
               #rijuta/>
           Please upload the image : <button class="button is-primary is-light is-outlined is-medium" (click)="rijuta.click()"><b style="font-size: 24px;">Upload</b></button>&#160; To predict the image : <button class="button is-primary is-light is-outlined is-medium" (click)="onUpload()"><b style="font-size: 24px;">Predict</b></button>
           <br>  
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li>
              <a>Input
              </a>
            </li>
            <li>
              <a>Output</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
<router-outlet></router-outlet>
<section class="hero is-info is-bold">
  <div class="hero-body">
  <div class="columns">
    <div class="column is-half">
      <img [src]="url" object-fit="contain">
    </div>
    <div class="column">
      <img [src]="url" object-fit="contain">
    </div>
  </div>
  </div>
</section>